.cntr{
  text-align:center;
}

.skillicon{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.main{
  margin-top:30px;
}

div.contents{
  margin-top:0px;
}

footer{
  bottom:0;
  position:fixed;
}

.main-nav__item--game{
  width:21%;
}

.main-nav__item--shop{
  width:21%;
}

.main-nav__item--news{
  width:11%;
}

.main-nav__item--community{
  width:11%;
}

.title-marginleft{
  margin-left:30px;
}

.calc-skill-icon{
  margin-left:47%;
}

.magic-btn{
  margin-left: 23px;
}

.calc-container{
  padding-bottom:50px;
}

.calc-btn{
  padding-right:10px;
  padding:15px;
  width:21%;
  font-size:2em;
  display:inline-block;
}

div.contents{
  background-position-y:-200px;
}
