.cntr{
  text-align:center;
}

.skillicon{
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.main{
  margin-top:30px;
}

div.contents{
  margin-top:0px;
}

footer{
  bottom:0;
  position:fixed;
}

.calc-btn{
  font-size:2.5em;
  display:inline-block;
}

