<!DOCTYPE html>
<html ng-app="rangedModule" lang="en">

<head>
	<meta charset="UTF-8">
	<title>Runerune: Ranged</title>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.js"></script>

	<link href="http://www.runescape.com/css/c/fonts-6.css" rel="stylesheet" type="text/css" media="all">
	
	<link href="https://www.runescape.com/css/c/components-53.css" rel="stylesheet">
	<link href="https://www.runescape.com/css/c/pagesal-56.css" rel="stylesheet">
	<link href="https://www.runescape.com/css/c/pagesmz-56.css" rel="stylesheet">
	<link rel="stylesheet" href="https://www.runescape.com/css/rs3/styleguide-9.css">
	<link href="http://www.runescape.com/css/c/components-52.css" rel="stylesheet">
	<link href="http://www.runescape.com/css/c/pagesal-54.css" rel="stylesheet">
	<link href="http://www.runescape.com/css/c/pagesmz-54.css" rel="stylesheet">

	<link rel="stylesheet" href="/css/styles.css">
	<link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
	<script src="/js/controllers.rangedCalc.js"></script>
</head>

<body ng-controller="rangedController as range">
	<div class="stickyWrap">
    <header class="header">
			<div class="header__container">
				<div class="header-top cntr">
					<ul class="header-top__right">
						<li class="header-top__right-option"><a class="header-top__right-link" href="/">Home</a></li>
						<li class="header-top__right-option"><a class="header-top__right-link" href="https://www.linkedin.com/in/cameron-makowski-8baa43131">Contact</a></li>
						<li class="header-top__right-option">
								<a class="header-top__right-link header-top__right-link--signin" id="header-login" href="/signin">Sign in / Join</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="header__bg">
				<div class="header__container">
					<div class="header-second">
						<div class="header-table">
							<a class="header-second__logo" href="/">
								<img class="header-second__logo-image" src="/img/runeruneHeader.png" title="RuneRune" alt="RuneRune">
							</a>
							<nav class="main-nav" id="main-nav">
								<ul class="main-nav__list">
									<li class="main-nav__item main-nav__item--group main-nav__item--game">
										<a href="/calculators" class="main-nav__heading">Calculators<span class="main-nav__expander"></span></a>
										<ul class="main-nav__group">
											<li class="main-nav__group-item"> <div ><img class="skillicon float-right" src="/img/skill-icons/Agility.png" alt=""><a class="main-nav__group-item-link" href="/calculators/agility">Agility Calculator</a></div> </li>
											<li class="main-nav__group-item"> <div ><img class="skillicon float-right" src="/img/skill-icons/Prayer.png" alt=""><a class="main-nav__group-item-link" href="/calculators/prayer">Prayer Calculator</a></div> </li>
											<li class="main-nav__group-item"> <div ><img class="skillicon float-right" src="/img/skill-icons/Ranged.png" alt=""><a class="main-nav__group-item-link" href="/calculators/ranged">Ranged Calculator</a></div> </li>
											<li class="main-nav__group-item"> <div ><img class="skillicon float-right" src="/img/skill-icons/Attack.png" alt=""><a class="main-nav__group-item-link" href="/calculators/attack">Attack Calculator</a></div> </li>
											<li class="main-nav__group-item"> <div ><img class="skillicon float-right" src="/img/skill-icons/Strength.png" alt=""><a class="main-nav__group-item-link" href="/calculators/strength">Strength Calculator</a></div> </li>
											<li class="main-nav__group-item"> <div ><img class="skillicon float-right" src="/img/skill-icons/Magic.png" alt=""><a class="main-nav__group-item-link" href="/calculators/magic">Magic Calculator</a></div> </li>
											<li class="main-nav__group-item"> <div ><img class="skillicon float-right" src="/img/skill-icons/Defence.png" alt=""><a class="main-nav__group-item-link" href="/calculators/defence">Defence Calculator</a></div> </li>
										</ul>
									</li>
									<li class="main-nav__item main-nav__item--news">
										<a class="main-nav__heading" href="/item-prices"></a>
									</li>
									<li class="main-nav__item main-nav__item--forums">
										<a class="main-nav__heading" href="/item-prices">Item Prices</a>
									</li>
									<li class="main-nav__item main-nav__item--group main-nav__item--community">
										<a class="main-nav__heading"><span></span></a>
									</li>
									<li class="main-nav__item main-nav__item--group main-nav__item--shop">
										<a href="/account" class="main-nav__heading cntr nopad">Account</a>
									</li>
									<li class="main-nav__item main-nav__item--play">
										<a id="play" class="main-nav__heading" href="/signin">Sign Up</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</header>
  <div class="banner">
		<div class="inner">
        <img src="/img/banners/generic.jpg" alt="RuneScape LandScape">
		</div>
	</div>
		<div class="contents">
			<main class="main">
				<h1 class="title "><span></span></h1>
				<ul class="breadcrumb" itemprop="breadcrumb">
					<li><a href="/">Home</a></li>
					<li><a href="/calculators">Calculators</a></li>
					<li>Ranged</li>
				</ul>
				<div class="content roughTop"><br><br>	
					<h2 class="title-marginleft">Ranged Calculator</h2>
					<div class="tiledBlueFrame">
						<div class="tl corner"></div>
						<div class="tr corner"></div>
						<div class="bl corner"></div>
						<div class="br corner"></div>
							<table style="width:100%;">
								<thead>
									<tr>
										<th class="priceCol">Kills</th>
										<th style="text-align:center;"class="itemCol">Name</th>
										<th style="text-align:right;" class="priceCol">Level</th>
										<th style="text-align:center;" class="priceCol">Exp</th>
									</tr>
								</thead>
							</table>
							<table style="width:100%;">
								<tbody>
									<tr ng-repeat="eachMonster in range.rangedMonsters">
										<td class="col1 align">
											<p>{{eachMonster[0]}}</p>
										</td>
										<td style="text-align:center;" class="col2">
											<p>{{::eachMonster[1]}}</p>
										</td>
										<td style="text-align:center;" class="col3 align">
											<p>{{::eachMonster[2]}}</p>
										</td>
										<td style="text-align:center;" class="col4 align">
											<a>{{::eachMonster[3]}}</a>
										</td>
									</tr>
								</tbody>
							</table>
					</div>
				</div>
				<aside role="complementary" class="sidebar">
					<section class="input">
						<h3>Current Experience:</h3>
						<form action="ranking" class="index">
							<input ng-model="range.currentExp" type="text" placeholder="Current Experience" class="placeholder text" title="Current Exp">
						</form>
					</section>
					<section class="input">
						<h3>Desired Level:</h3>
						<form action="ranking" class="index">
							<input ng-model="range.desiredLevel" type="text" placeholder="Desired Level" class="placeholder text" title="Desired Lvl">
						</form>
						<div class="btnWrap ">
							<div class="btn">
								<div class="btnRight">
									<input ng-click="range.countMonsters(range.currentExp, range.desiredLevel)"type="submit" value="Go" name="">
								</div>
							</div>
						</div>
					</section>
				</aside>
			</main>
		</div>
		<footer class="footer">
			<div class="footer__inner">
				<div class="footer__paragraph">
					<p>Site assembled by Cameron Makowski</p>
				</div>
			</div>
		</footer>
	</div>
</body>

</html>