<!DOCTYPE html>
<html ng-app="module.auth" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Runerune Login</title>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.9/angular.js"></script>
<!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css"> -->
  <link href="http://www.runescape.com/css/c/fonts-6.css" rel="stylesheet" type="text/css" media="all">
  <link href="http://www.runescape.com/css/c/components-52.css" rel="stylesheet">
  <link href="http://www.runescape.com/css/c/pagesal-54.css" rel="stylesheet">
  <link href="http://www.runescape.com/css/c/pagesmz-54.css" rel="stylesheet">
	<link rel="stylesheet" href="https://www.runescape.com/css/c/responsive/vendor-5.css">
	<link rel="stylesheet" href="https://www.runescape.com/css/c/responsive/modules-25.css">
  
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  
  <script src="/js/module.auth.js"></script>
</head>
<body ng-controller ="module.auth.controller as auth">
  <div class="stickyWrap">
	
		<div style="display:inline-block;margin-left:20%;margin-top:50px;" class="l-vista__container " id="l-vista__container">
			<div class="l-vista__logo">
				<div class="a-logo">
					<a href="/" id="rs-logo-home">
						<img class="a-logo__img" src="/img/runeruneHeader.png" alt="RuneScape Logo" title="RuneScape">
					</a>
				</div>
			</div>
			<form class="login-form" id="login-form" ng-submit="auth.login.submit($event)">
				<h1 style="text-align:center;">Login!</h1>
				<label class="login-form__label">Email:
												<input class="login-form__text" type="text" name="username" id="login-username" maxlength="200" title="Enter your Email:" required="" placeholder="Email" type="email" ng-model="auth.payloads.login.email">
												<span class="form-error">
														This field is required.
												</span>
										</label>
				<label style="margin-top:6px;" class="login-form__label">Password:
												<input class="login-form__text" type="password" name="password" id="login-password" maxlength="20" title="Enter your password:" required="" placeholder="Password" type="password" ng-model="auth.payloads.login.password">
												<span class="form-error">
														This field is required.
												</span>
										</label><br><br><br><br><br>
				<button class="a-button a-button--size-full" id="rs-login-submit" type="submit">Log In</button>
				<p ng-class="auth.login.alert">{{ auth.login.message }}</p>
			</form>

		</div>
		<div style="display:inline-block;margin-left:20%;margin-top:50px;" class="l-vista__container " id="l-vista__container">
			<div class="l-vista__logo">
				<div class="a-logo">
					<a href="/" id="rs-logo-home">
						<img class="a-logo__img" src="/img/runeruneHeader.png" alt="RuneScape Logo" title="RuneScape">
					</a>
				</div>
			</div>
			<form class="login-form" id="login-form"  ng-submit="auth.register.submit($event)">
				<h1 style="text-align:center;">Register!</h1>
				<label class="login-form__label">Email:
												<input class="login-form__text" type="text" name="username" id="login-username" maxlength="200" title="Enter your Email:"  required="" placeholder="Email" type="text" ng-model="auth.payloads.register.email">
												<span class="form-error">
														This field is required.
												</span>
										</label>
				<label class="login-form__label">Password:
												<input class="login-form__text" type="password" name="password" id="login-password" maxlength="20" title="Enter your password:" required placeholder="Create a password" type="password" ng-model="auth.payloads.register.password">
												<span class="form-error">
														This field is required.
												</span>
										</label>
							<label class="login-form__label">Character Name:
												<input class="login-form__text" type="text" name="password" id="login-password" maxlength="20" title="Enter your Runescape Username:" placeholder="Your Runescape Username" type="text" ng-model="auth.payloads.register.toonName">
										</label>
				<button class="a-button a-button--size-full" id="rs-login-submit" type="submit">Register</button>
				<p ng-class="auth.register.alert">{{ auth.register.message }}</p>
			</form>

		</div>
	</div>
</body>
</html>